#welcome-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fed472;
  padding: 20px;
  height: 400px;
  margin-bottom: 20px;
}

#welcome-panel img {
  margin-bottom: 20px;
}

#welcome-panel h1,
#welcome-panel p {
  margin: 0;
  text-align: center;
}
